.newsPages {
    color: white;
    box-sizing: border-box;
}

.headerNewsPage{
    padding: 5px 10px;
    
}
.headerNews{   
    font-size: 20px;
    font-weight: 700; 
    text-align: left;
    margin-bottom: 10px;
}
.newsPages{
    max-width: 900px;
    margin: auto;
   
}
.filterNews{
    background-color: rgb(62, 62, 62);
    padding: 10px 5px;
    display: flex;
    margin-bottom: 15px;
}

.alink{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.alink:hover{
    color: #d30505;
}
.cardNews{
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
    font-size: 11px;
    cursor: pointer;
    border: 3px solid transparent; 
}
.outputNews{
    display: flex;
    flex-wrap: wrap
}
.cardNews:hover {
    border: 3px solid #d30505;
}





