.ourLeague {
    
 
    background-color: #282c34;
    font-family:  Bahnschrift Condensed;
    color: #FFFFFF;
}

.league {
font-size: 100px;
font-family:  Bahnschrift Condensed;
 padding-left: 30px;
 

}


.social{
    color: #df7a7a;   
}


.social_media {
    text-decoration: none;
    color: #DB3138;
}


.adress {
    color: #DB3138;
}