.main_gallery {
    background-color: #282c34;
}

.menu_gallery {
    font-size: 45px;
    color: #FFFFFF;
    width: 300px; 
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.photo {
    text-decoration: none;
    font-family: 'Bahnschrift Condensed';
    color: #FFFFFF;
}

.video {
    text-decoration: none;
    font-family: 'Bahnschrift Condensed';
    color: #FFFFFF;
}