.App {
  text-align: center;
}

/* body {
  background-image: url(fonof.jpg);
  background-size: 100%;
  height: 750px;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

