.life {
    font-family: 'ReformaGroteskDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    margin: auto;
    padding-top: 50PX;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.photo {
    display: flex;
    flex-wrap: wrap;
}

.photo p {
    width: 16.5%;
    height: 200px;

    flex: none;
    order: 0;
    flex-grow: 0;
    border: solid 1px;
    margin: 0;
    color: red;
}

.photo p img {
    height: 180px;
}