.main {
    // background-image: url(fonof.jpg);
    background-size: 1500px;
}

.title {
    color: #DB3138;
    font-family:  Verdana;
    font-style: italic;
    font-weight: 700;
    font-size: 150px;
    text-align: center;
    text-shadow: #FFFFFF 5px 5px 5px;
    margin-top: 70px;
}

.description {
    font-family:  Bahnschrift Condensed;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.blocks {
    display: flex;
    justify-content: space-around;
    color: #d30000;
    width: 100%;
    font-size: 24px;
    margin-top: 30px;
}

.citys {
    font-family:  Bahnschrift Condensed;   
}

.city {
    font-family:  Bahnschrift Condensed;
    color: #DB3138;
}

.block {
    border: solid 1px;
    padding: 0 10%;
    font-size: 12px;
}
